<h1>Pizza-Shmizza</h1>
<h2>Made Pizza Order Simple as 1..2..3</h2>

<div class="blurb">"Making a quality pizza using Better Ingredients has been the foundation of Pizza-Shmizza for more than 5 years. You have my commitment that Pizza-Shmizza's will not stray from the foundation of quality & superiority upon which the company was built. We will always strive to be your 'Better' Pizza Company.</div>

<div class="ctaWrapper">
  <a class="cta green" href="account/create">Get Strated</a>
  <a class="cta blue" href="session/create">Login</a>
</div>